{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; width: 50%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        -moz-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">
        <h2 style="margin: 20px auto; text-align:center; ">Подтверждения почты</h2>
        <p>Для подтверждения почты пройдите по ссылке на почте. Если не
            получили письмо, проверьте корректность ввода данных</p>
        <div>

        </div>
    </div>
{% endblock %}
